
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #191121; 
        }
        ::-webkit-scrollbar-thumb {
            background: #4d3465; 
            border-radius: 4px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #7317cf; 
        }
  